.color-nav {
  background-color: #dcc9ac;

}

.h-img {
  width: 100%;
  height: 50vh;
}
.color-card {
  background-color: #c8a77c !important;
  color: #311b17 !important;
}

.tips-section {
  background-color: #311b17;
  color: #dcc9ac;
}
footer {
  background-color: #a8774a;
}
.dropdown-color {
  background-color: #ece4d4 !important;
}

.accordion-custom .accordion-item {
  background-color: #c8a77c; /* sfondo scuro */
  color: #ece4d4; /* testo chiaro */
  border: none;
}

.accordion-custom .accordion-button {
  background-color: #c8a77c;
  color: #311b17;
}

.accordion-custom .accordion-button:not(.collapsed) {
  background-color: #311b17;
  color: #ece4d4;
  box-shadow: none;
}

.accordion-custom .accordion-body {
  background-color: #311b17;
  color: #ece4d4;
}
