.color-nav {
  background-color: #dcc9ac;
}

.h-img {
  width: 100%;
  height: 50vh;
}
.color-card {
  background-color: #dcc9ac !important;
  color: #311b17 !important;
}

.tips-section {
  background-color: #311b17;
  color: #dcc9ac;
}
footer {
  background-color: #a8774a;
}
.dropdown-color {
  background-color: #ece4d4 !important;
}

.accordion-custom .accordion-item {
  background-color: #c8a77c; /* sfondo scuro */
  color: #ece4d4; /* testo chiaro */
  border: none;
}

.accordion-custom .accordion-button {
  background-color: #c8a77c;
  color: #311b17;
}

.accordion-custom .accordion-button:not(.collapsed) {
  background-color: #311b17;
  color: #ece4d4;
  box-shadow: none;
}

.accordion-custom .accordion-body {
  background-color: #311b17;
  color: #ece4d4;
}

.home-img {
  width: 100vh;
  height: 100vh;
  flex-shrink: 0;
  aspect-ratio: 761/1073;
  background: url(https://i.postimg.cc/VsxNtn2Q/mycelio-studio-75688-Shot-of-a-bartender-preparing-a-daiquiri-i-4ee85dd2-68a5-4412-b8af-3b6bd6bb74cf.png)
    lightgray  no-repeat;
  margin-right: 0;
  margin-left: 30px;
}
.home-row {

  width: 100%;
  height: 800px;
  flex-shrink: 0;
  background: #fae5c2;
  border: #311b17 1px solid;
}

.accordeon-container {
  width: 100%;
  position: relative;
  background-color: #ffae2d;
  height: 400px;
}

/* abilita la transizione sulla rotazione */
.chevron {
  display: inline-block; /* necessario per ruotare correttamente */
  transition: transform 0.3s ease-in-out;
}

/* stato “chiuso” = 0° */
.rotate-0 {
  transform: rotate(0deg);
}

/* stato “aperto” = 90° */
.rotate-90 {
  transform: rotate(90deg);
}

/* se vuoi mantenere anche float-end di Bootstrap */
.float-end {
  float: right !important;
}


.end-section {
  height: 300px;
}

.bot1-h-img {
  width: 100%;
  height: 70vh;

}


