html, body {
  overflow-x: hidden;
}


body {
  
    background-color:#ede4d4 !important ;
    color: #311b17 !important;
    font-family: "Chinchilla W00 Regular" !important;
  }
  
  .imb-font {
    font-family:'IBM Plex Mono', serif !important;
  }